@tailwind base;
@tailwind components;
@tailwind utilities;

/* Stili personalizzati per la scrollbar se necessari */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}